@font-face {
    font-family: "Press Start 2P";
    font-weight: normal;
    font-style: normal;
    font-display: block;
    src: url("fonts/PressStart2P-Regular.woff2") format("woff2");
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #f7f0dd;
    font-family: "Press Start 2P", sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.2;
}

h1 {
    margin: 8px 0;
    font-size: 36px;
}

h2 {
    margin-top: 16px;
    margin-bottom: 4px;
    margin-left: 1px;
    font-size: 24px;
}

.is-loading .loading-container {
    display: block;
}

.is-loading .preview-region,
.is-loading .selection-region {
    display: none;
}

.loading-container {
    display: none;
    text-align: center;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px;
}

@media (min-width: 720px) { 
    .container {
        display: flex;
        align-items: flex-start;    
    }
}

.preview-region {
    min-width: 420px;
    margin: 12px;
}

@media (min-width: 720px) { 
    .preview-area {
        position: fixed;
        width: 420px;
    }    
}

.preview-area {
    margin: 12px;
    padding: 12px;
    border-radius: 16px;
    background-color: black;
    color: white;
    text-align: center;
}

.selection-region {
    margin: 12px;
}

.wallpaper-icon {
    width: 36px;
    margin: 1px;
    cursor: pointer;
}

.flooring-icon {
    width: 42px;
    margin: 1px;
    cursor: pointer;
}
