@font-face {
    font-family: "Press Start 2P";
    font-weight: normal;
    font-style: normal;
    font-display: block;
    src: url("fonts/PressStart2P-Regular.woff2") format("woff2");
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    background: #f7f0dd;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1, h2 {
    font-family: "Press Start 2P", sans-serif;
    font-weight: normal;
    text-transform: uppercase;
    line-height: 1.2;
}

.same-line {
    display: inline-block;
}

.spacer {
    flex: 1;
}

.selected img {
    border: 2px solid #2790ce;
    outline: 2px solid #2790ce;
}

.is-loading #loading-container {
    display: block;
}

.is-loading #preview-region,
.is-loading #selection-region {
    display: none;
}

#loading-container {
    display: none;
    text-align: center;
}

#container {
    flex: 1;
    min-height: 100vh;
    max-width: 1440px;
    margin: 0 auto;
    padding: 12px 0;
}

@media (min-width: 720px) { 
    #container {
        display: flex;
    }
}

#preview-region {
    min-width: 420px;
    margin: 0 16px;
}

@media (min-width: 720px) { 
    #preview-area {
        position: fixed;
        width: 420px;
    }    
}

#preview-area {
    padding: 12px;
    border-radius: 16px;
    background-color: black;
    color: white;
    text-align: center;
}

#preview-area h1 {
    margin: 8px 0;
    font-size: 36px;
}

#selection-region {
    display: flex;
    flex-direction: column;
    margin: 0 16px;
}

#selection-region h2 {
    color: black;
    margin-top: 16px;
    margin-bottom: 4px;
    margin-left: 1px;
    font-size: 24px;
}

.wallpaper-icon {
    width: 36px;
    margin: 1px;
    cursor: pointer;
}

.flooring-icon {
    width: 42px;
    margin: 1px;
    cursor: pointer;
}

footer {
    margin: 24px 0 8px;
    color: #404040;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
}

footer p {
    margin: 4px 0;
}
